name: verbadent
description: "Verbadent CareQuest Flutter application"
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.5.2

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  
  fonts:
    - family: KumarOne
      fonts:
        - asset: fonts/KumarOne-Regular.ttf
          weight: 400

